body {
    color: #444;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: Source Serif Pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.container {
    max-width: 740px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

header {
    border-bottom: 1px solid #eee;
}

.row, .columns {
    width: 100%;
}

.columns h1 {
    margin: 0.15rem;
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

ul {
    text-align: center;
    padding-left: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: Raleway, sans-serif;
    font-size: 1.2rem;
}

figure {
    text-align: center;
    margin: 1rem 0;
}

img {
    max-width: 100%;
}

p {
    margin: 0.5rem 0.5rem;
    font-size: 1.075rem;
}

.projects h2, .projects h3, .achievements h2 {
    margin-left: 0.5rem;
    font-family: Raleway, sans-serif;
}

.projects h2 {
    margin-top: 0.75rem;
    margin-bottom: 0.15rem;
}

.projects h3 {
    display: inline;
    font-size: 1.15rem;
}

.project-heading {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

footer {
    margin: 1rem 0 0 0;
    padding: 0.5rem;
    border-top: 1px solid #ddd;
    text-align: center;
}

footer a {
    padding: 0.5rem;
}

footer p {
    font-size: 0.85rem;
}

a {
    text-decoration: none;
    color: #307EA9;
    background-color: transparent;
}

a:hover {
    color: #00afff;
}

.project-heading i, footer i {
    margin: 4px;
    cursor: pointer;
    color: initial;
}

.project-links {
    float: right;
    padding-top: 4px;
    padding-right: 10px;
}

.card {
    border: 1px solid #efefef;
    background-color: white;
    border-radius: 8px;
    max-width: 95%;
    margin: 1em auto;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

.card:hover {
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.overlay-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(10, 10, 10, 0.65);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Overlay */
.overlay-text {
    transition: .2s;
    transform: translateY(0.1em);
    font-family: Raleway, sans-serif;
    padding: 1rem;
}

.project-description {
    position: relative;
    display: flex;
    align-items: center;
}

.card:hover .overlay-wrap {
    visibility: visible;
    opacity: 1;
}

.tech-stack li {
    border: 1px solid #307EA9;
    margin: 4px;
    padding: 3px;
    font-family: "Source Serif Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    border-radius: 5px;
}
