body {
    color: #283035;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: "Source Serif Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    max-width: 740px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.15rem;
}

header {
    border-bottom: 1px solid #eee;
}

.row, .columns {
    width: 100%;
}

.columns h1 {
    margin: 0.15rem;
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

ul {
    padding-left: 0;
    margin: 0;
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: Raleway, sans-serif;
    font-size: 1.2rem;
}

figure {
    text-align: center;
    margin: 1rem 0;
}

img {
    max-width: 100%;
    border-radius: 4px;
}

p {
    margin: 0.5rem 0.5rem;
}

.projects h2, .projects h3, .achievements h2 {
    margin-left: 0.5rem;
    font-family: Raleway, sans-serif;
}

.projects h2 {
    margin-top: 0.75rem;
    margin-bottom: 0.15rem;
}

.projects h3 {
    display: inline;
    font-size: 1.15rem;
}

.project-heading {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

footer {
    margin: 1rem 0 0 0;
    padding: 0.5rem;
    border-top: 1px solid #ddd;
    text-align: center;
}

footer a {
    padding: 0.5rem;
}

footer p {
    font-size: 0.85rem;
}

a {
    text-decoration: none;
    color: #307EA9;
    background-color: transparent;
}

.project-heading i, footer i {
    margin: 4px;
    cursor: pointer;
    color: initial;
}
